 
.homepage{
margin-inline: 30px;
}
.cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-inline: 5px;
}
.card {
    /* border: 1px solid black; */
    margin-block: 20px;
    text-align: center;
    border-radius:  5px;
    box-shadow: 1px 1px 3px #ccc;
    overflow: hidden;
}

.card h1{
    text-transform: capitalize;
    font-size: 26px;
    font-weight: 600;
    background-color: #00000060;
    color:snow;
    padding-block: 5px;
    
}

.card img{
    width: 200px;
    /* margin: 0 auto; */
    margin-block:10px  5px ;
}

.card p{
    text-transform: capitalize;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    padding-inline: 3px;
    margin-bottom: 15px;
}

.homepage .connet{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.connet button{
    text-transform: capitalize;
    background-color: black;
    border-radius:  5px;
    border: none;
    color:  snow;
    /* width: 250px; */
    padding: 10px;
    font-size: 14px;
}

.connet a{
    font-size: 12px;
    margin-left: 5px;
    text-decoration: underline;
}