header{
    background-color: hsla(0, 0%, 0%, 0.682);
    display:  flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100vw;
    padding-inline:19px ;
    position: relative;
    z-index: 1;
}


header h1{
    color: #ccc;
    font-size: 15px;
    text-transform:capitalize ;
}


header img{
    width: 15px;
    height: 15px;
}
